{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}
{% load censor_filters %}

{% block content %}
   <h1>Новости</h1>
   <h2>{{ news | length }} новости </h2>
   <hr>
       <table> <!-- Начинаем описывать таблицу -->
       {% for new in news %}
           <tr>
               <td>{{ new.header | censor }}</td>
               <td>{{ new.time_create|date:'d M Y' }}</td>
               <td>{{ new.text |truncatewords:20 | censor }}</td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->
       {% endfor %}
       </table> <!-- ... и таблицы -->
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
